<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="shortcut icon" href="" />
        <title>Login</title>

        <link rel="stylesheet" type="text/css" href="../static/user_screen.css">
    </head>
<div class="header">
        <div class="container">
            <div class="header__inner">
            <div class="logotyp">.Med</div>
            <nav class="navigation">
                 <a class="linka" href="https://www.linkconsulting.com/about-link/">About</a>
                 <a class="linka" href="https://www.work.ua/">Service</a>

                 <a class="linka" href="http://khovansky.info/blog/">Blog</a>
                 <a class="linka" href="https://www.contact-sys.com/">Contact</a>

            </nav>
            </div>
        </div>
</div>
<main>
<div class="main_container">
    <h1>Your Personal information</h1>
    <div class="information_container">
                    <label >Username</label>
                    <div class='login_data'>
                        <input name="text" placeholder="username" value="nemo" >
                    </div>
                    <label>Password</label>
                    <div class='login_data'>
                        <input name="password" placeholder="password">
                    </div>
                    <label>New password</label>
                    <div class='login_data'>
                        <input name="text" placeholder="username" value="nemo" >
                    </div>
                    <label>Email</label>
                    <div class='login_data'>
                        <input name="text" placeholder="username" value="nemo" >
                    </div>
                    <div class='login_data' id="checkbox">
                    <input name="optin" type="checkbox" value="1">
                    <label>Receive offers from our partners</label>
                    </div>
                    <div class='login_data' id="checkbox">
                    <input name="optin" type="checkbox" value="1">
                    <label>Receive offers from our partners</label>
                    </div>
                    <div class='login_data' id="btn">
                        <input type="submit" class="btn" value="Save">
                    </div>
    </div>
</div>
</main>
</html>